In [1]:
# This study file was prepared to study and revise Python based on 
# what I've learnt from Satyajit Patnik, owner of the Data Analytics / Data Science Masters courses.

In [2]:
# Dictionaries are the unordered collection of data.
# Data in dictionary is stored as a key : value pair.
# Keys are immutable, they are unique and like an index (keys in dictionaries, strings, tuples are immutable) and values can be any of types.
# Values are objects that contains information. Values are accessed using their keys. Values can be mutable, immutable & duplicates.
# Dict = {"name" : "John" , 'age' : 10}
# Keys = name and age ,  Values = John and 10

In [3]:
Dict = {"name" : "John" , 'age' : 10}
type(Dict)

dict

In [4]:
d1 = {"India" : "INR", "USA": "USD" , "Hong Kong" : "HKD"}

In [5]:
type(d1)

dict

In [6]:
len(d1)

3

In [7]:
# Replacing value
d1["Hong Kong"] = "HK$"
d1

{'India': 'INR', 'USA': 'USD', 'Hong Kong': 'HK$'}

In [8]:
# Inserting new entity
d1["Japan"] = "YEN"
d1

{'India': 'INR', 'USA': 'USD', 'Hong Kong': 'HK$', 'Japan': 'YEN'}

In [9]:
len(d1)

4

In [10]:
# Deleting element
del d1["Japan"]
d1

{'India': 'INR', 'USA': 'USD', 'Hong Kong': 'HK$'}

In [11]:
# Sorting elements
sorted(d1)

['Hong Kong', 'India', 'USA']

In [12]:
d1["Germany"]

KeyError: 'Germany'

In [13]:
# Methods
d1

{'India': 'INR', 'USA': 'USD', 'Hong Kong': 'HK$'}

In [14]:
d1.values()

dict_values(['INR', 'USD', 'HK$'])

In [15]:
d1.keys()

dict_keys(['India', 'USA', 'Hong Kong'])

In [19]:
d1.get('India')
# d1['India']

'INR'

In [20]:
d1.get('USA')

'USD'

In [21]:
d1.get('Hong Kong')

'HK$'

In [22]:
d1['India']

'INR'

In [23]:
d1

{'India': 'INR', 'USA': 'USD', 'Hong Kong': 'HK$'}

In [24]:
d1.update({'India':'Rs'})

In [25]:
d1

{'India': 'Rs', 'USA': 'USD', 'Hong Kong': 'HK$'}

In [27]:
d1['India'] = 'INR'
d1

{'India': 'INR', 'USA': 'USD', 'Hong Kong': 'HK$'}

In [29]:
d1.update({'Hong Kong': 'HKD'})

In [30]:
d1

{'India': 'INR', 'USA': 'USD', 'Hong Kong': 'HKD'}

In [32]:
# .keys(), values(), .get(), .update() are the methods of dictonaries

In [33]:
# Question 1
Employee_data = {101 : ['Shiva',24,'Content Strategist'], 
                 102 : ['Udit',25,'Content Strategist'], 
                 103 : ['Sonam',28,'Sr Manager'], 
                 104 : ['Ansari',29,'Product Lead'], 
                 105 : ['Huzefa',32,'Project Manager'] }

In [34]:
print(Employee_data[104][-1])

Product Lead

In [35]:
def find_profession(id):
    return Employee_data[id][-1]

In [41]:
id = int(input("Please enter the staff id: "))
print(find_profession(id))

Please enter the staff id: 105
Project Manager

In [ ]:
# Question 2

In [42]:
dict_1 = {"Python" : 40 , "R" : 45}

In [43]:
del dict_1["R"]
dict_1

{'Python': 40}

In [ ]:
# del is used in this question

In [44]:
# Question 3

In [45]:
d = {"Python" : 40 , "R": 45}

In [47]:
print(d.keys())
print(type(d.keys()))
print(list(d.keys()))

dict_keys(['Python', 'R'])
<class 'dict_keys'>
['Python', 'R']

In [48]:
print(d.values())
print(type(d.values()))
print(list(d.values()))

dict_values([40, 45])
<class 'dict_values'>
[40, 45]

In [ ]:
# .keys() and .values() methods are used in this question

In [49]:
# Question 4

In [50]:
input_dict = {"Name" : "Monty" , "Profession" : "Singer"}

In [57]:
if 'Label' in input_dict.keys() :
    print(input_dict["Label"])
else:
    print("NA")

NA

In [59]:
def find_values(label):
    if label in input_dict.keys() :
        print(input_dict[label])
    else:
        print("NA")

In [73]:
entity = input("Please enter your item to be researched: ")
key = entity[12:-2] # Slicing in string
print(key)
find_values(key)

Please enter your item: input_dict["Label"]
Label
NA

In [74]:
# String Slicing, in, user-defined function, input(), if-else are used in this question

In [75]:
# Question 5

In [76]:
input_dict = {'Jack Dorsey' : 'Twitter', 'Tim Cook' : 'Apple', 'Jeff Bezos' : 'Amazon', 'Mukesh Ambani' : 'RJIO'}

In [77]:
print(sorted(input_dict.values()))

['Amazon', 'Apple', 'RJIO', 'Twitter']

In [ ]:
# sorted() function is used in this question