In [1]:
# This study file was prepared to study and revise Python based on 
# what I've learnt from Satyajit Patnik, owner of the Data Analytics / Data Science Masters courses.

In [2]:
# Predefined (built-in) functions, (type(), print(), int() -> type conversion function)
# methods of data types (str.startswith())
# user defined functions (def something(): )
# Functions are named sequence of events statements that performs some operations
# function name and arguments

In [3]:
# User defined functions are the functions that are created by users or developers who are dealing codes
# User defined functions are unique block of codes that are only executed when called to perform a specific task.

In [4]:
# def function_name(argument_1,argument_2,...):
# arguments are optional, arguments can also have default values
# """ 
# Docstring- this section explains your function (optional)
# """
# operation with arguments, the code inside a function is
# default a tab or 4 whitespace indentation
# object = argument1 + argument2
# return object

# use function_name to call the function
# function_name(argument_1,argument_2)

In [5]:
# Lambda Function:
# Small anonymous function to make a developer's life easier.
# Can take any number of arguments, but can only have one expression
# Syntax
# Lambda arguments : expression
# This expression is executed and the result is returned.

In [12]:
function_1 = lambda x,y,z,t : (x+y) * (z+t)

In [13]:
function_1(1,2,3,4)

21

### Even or Odd

In [18]:
# even or odd function
def findEvenOrOdd(number):
    if(number % 2 == 0):
        print("The number {} is even" .format(number))
    else:
        print("The number {} is odd" .format(number))

In [22]:
number = int(input("Please enter your number: "))
findEvenOrOdd(number)

Please enter your number: 101
The number 101 is odd

### Factorial

In [39]:
def findFactorial(num):
    result = 1
    if(num == 0 or num == 1):
        print("The factorial of {} is 1".format(num))
    elif(num < 0):
        print("Negative numbers don't have factorials. Please enter a number that are greater than or equals to 0")
    else:
        for num in range(1,num+1):
            result = result * num
        return """ The factorial of {} is {} """.format(num,result)

In [47]:
number = int(input("Please enter the number: "))
findFactorial(number)

Please enter the number: 10

' The factorial of 10 is 3628800 '

### Sum of the all natural numbers till the number provided

In [86]:
def sumAllTheNaturalNumbers(num):
    sum = 0
    if(num < 0):
        print("Please enter a natural number that is greater than or equals to 0")
    elif(num == 0):
        print("The result for {} will be 0".format(num))
    else:
        for value in range(1,num+1):
            sum = sum + value
    return sum

In [95]:
num = int(input("Please enter your number: "))
sumAllTheNaturalNumbers(num)

Please enter your number: 4

10

### Default argument values in functions

In [96]:
def func_1(name,age):
    print("Name: ",name)
    print("Age: ",age)

In [97]:
func_1("Yağız",25)

Name:  Yağız
Age:  25

In [98]:
func_1("Yağız")

TypeError: func_1() missing 1 required positional argument: 'age'

In [99]:
def func_2(name,age=27):
    print("Name: ",name)
    print("Age: ",age)

In [100]:
func_2("Yağız",25)

Name:  Yağız
Age:  25

In [101]:
func_2("Yağız")

Name:  Yağız
Age:  27

### Lambda Functions

### create a lambda function that adds 10 to the number passed as an argument, and print the result.

In [122]:
addTen = lambda num : num + 10

In [123]:
addTen(20)

30

In [124]:
addTen(90)

100

In [125]:
addTen(5)

15

In [126]:
print(addTen(110))

120

### Create a lambda function that checks a number is even or odd

In [112]:
findEvenOdd = lambda num : "Even" if num % 2 == 0 else "Odd"

In [113]:
print(findEvenOdd(10))

Even

In [114]:
print(findEvenOdd(11))

Odd

### Create a lambda function that adds two integers

In [119]:
addNumbers = lambda x,y : x + y

In [120]:
addNumbers(10,11)

21

In [121]:
print(addNumbers(15,25))

40

In [127]:
multiplyNumbers = lambda x,y : x*y

In [128]:
print(multiplyNumbers(4,5))

20

In [129]:
print(multiplyNumbers(5,100))

500

In [130]:
print(multiplyNumbers(100,100))

10000

In [131]:
print(type(multiplyNumbers))

<class 'function'>

In [132]:
print(type(addNumbers))

<class 'function'>

In [133]:
print(type(findEvenOdd))

<class 'function'>

In [134]:
print(type(addTen))

<class 'function'>

In [137]:
findNumberBiggerThanFifty = lambda num : "Bigger than 50" if num > 50 else "Smaller than 50"

In [138]:
print(type(findNumberBiggerThanFifty))

<class 'function'>

In [139]:
print(findNumberBiggerThanFifty(15))

Smaller than 50

In [140]:
print(findNumberBiggerThanFifty(100))

Bigger than 50