In [1]:
# This study file was prepared to study and revise Python based on 
# what I've learnt from Satyajit Patnik, owner of the Data Analytics / Data Science Masters courses.

In [2]:
# Loops are used for repitition - iterating over an iterable
# Iterable : an object that can be iterated over (Lists,tuples,dictionaries,sets,strings)
# Iterator : variable that goes through each element in the iterable.
# 2 types of loops: For and While

In [ ]:
# for loops, while loops, range,

#### Even number odd number

In [6]:
for var in range(1,11):
    if(var % 2 == 0):
        print(var , "is even")
    else:
        print(var ,"is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [8]:
number = int(input("Please enter your number: "))

for var in range(1,number+1):
    if(var % 2 == 0):
        print(var , "is even")
    else:
        print(var ,"is odd")

Please enter your number: 20
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

#### Joining Party according to the ages

In [9]:
age_list = [5,10,18,15,17,20,30,35,40,50,55,60,70,80,90,100]
for age in age_list:
    if (age >= 18) and (age<=50):
        print("You can join the party. Your age is: ", age)
    else:
        print("You can not join the party. Your age is: ", age)

You can not join the party. Your age is:  5
You can not join the party. Your age is:  10
You can join the party. Your age is:  18
You can not join the party. Your age is:  15
You can not join the party. Your age is:  17
You can join the party. Your age is:  20
You can join the party. Your age is:  30
You can join the party. Your age is:  35
You can join the party. Your age is:  40
You can join the party. Your age is:  50
You can not join the party. Your age is:  55
You can not join the party. Your age is:  60
You can not join the party. Your age is:  70
You can not join the party. Your age is:  80
You can not join the party. Your age is:  90
You can not join the party. Your age is:  100

In [12]:
age_list = []

for i in range(1,6):
    age = int(input("Please enter your age: "))
    age_list.append(age)

print("\n")
    
for age in age_list:
    if (age >= 18) and (age<=50):
        print("You can join the party. Your age is: ", age)
    else:
        print("You can not join the party. Your age is: ", age)

Please enter your age: 10
Please enter your age: 18
Please enter your age: 28
Please enter your age: 55
Please enter your age: 60


You can not join the party. Your age is:  10
You can join the party. Your age is:  18
You can join the party. Your age is:  28
You can not join the party. Your age is:  55
You can not join the party. Your age is:  60

#### Program to provide discounts/offers

In [15]:
price_list = []

for var in range(1,11):
    price = int(input("Please enter your total price from shopping: "))
    price_list.append(price)

print("\n")

print("Prices: ",price_list)

print("\n")
    
for price in price_list:
    if(price >= 5000):
        print("You got 1000$ as voucher. Your price is ",price)
    elif(price >= 2500 and price < 5000 ):
        print("You got 500$ as voucher. Your price is ",price)
    else:
        print("Sorry. You didn't get any voucher. Your price is ",price)

Please enter your total price from shopping: 5500
Please enter your total price from shopping: 5000
Please enter your total price from shopping: 4500
Please enter your total price from shopping: 4000
Please enter your total price from shopping: 3500
Please enter your total price from shopping: 3000
Please enter your total price from shopping: 2500
Please enter your total price from shopping: 2000
Please enter your total price from shopping: 1500
Please enter your total price from shopping: 1000


Prices:  [5500, 5000, 4500, 4000, 3500, 3000, 2500, 2000, 1500, 1000]


You got 1000$ as voucher. Your price is  5500
You got 1000$ as voucher. Your price is  5000
You got 500$ as voucher. Your price is  4500
You got 500$ as voucher. Your price is  4000
You got 500$ as voucher. Your price is  3500
You got 500$ as voucher. Your price is  3000
You got 500$ as voucher. Your price is  2500
Sorry. You didn't get any voucher. Your price is  2000
Sorry. You didn't get any voucher. Your price is  1500
Sorry. You didn't get any voucher. Your price is  1000

#### Iterations

##### Iterate over a list of integers

In [16]:
integer_list = [10,20,30,40,50]
for num in integer_list:
    print(num)

10
20
30
40
50

##### Iterate over a string

In [17]:
full_name = "Yağız Esmerligil"
for char in full_name:
    print(char)

Y
a
ğ
ı
z

E
s
m
e
r
l
i
g
i
l

##### Iterate over a dictionary

In [18]:
people_data = {1: ["Yağız",27], 2 : ["Dağhan",21], 3: ["Erhan",60], 4: ["Meral",60], 5: ["Kemal",27] }

In [29]:
for person in people_data:
    print(person)

1
2
3
4
5

In [28]:
for person in people_data:
    print(people_data[person])

['Yağız', 27]
['Dağhan', 21]
['Erhan', 60]
['Meral', 60]
['Kemal', 27]

In [27]:
for person in people_data:
    print(people_data[person][0] , people_data[person][1])

Yağız 27
Dağhan 21
Erhan 60
Meral 60
Kemal 27

In [30]:
for person in people_data.items():
    print(person)

(1, ['Yağız', 27])
(2, ['Dağhan', 21])
(3, ['Erhan', 60])
(4, ['Meral', 60])
(5, ['Kemal', 27])

In [31]:
for person in people_data.keys():
    print(person)

1
2
3
4
5

In [32]:
for person in people_data.values():
    print(person)

['Yağız', 27]
['Dağhan', 21]
['Erhan', 60]
['Meral', 60]
['Kemal', 27]

In [34]:
for i,j in people_data.items():
    print(i)

1
2
3
4
5

In [35]:
for i,j in people_data.items():
    print(j)

['Yağız', 27]
['Dağhan', 21]
['Erhan', 60]
['Meral', 60]
['Kemal', 27]

##### Iterate over a range of values

In [36]:
number_list = range(1,101,3)

In [37]:
for num in number_list:
    print(num*3 + 1)

4
13
22
31
40
49
58
67
76
85
94
103
112
121
130
139
148
157
166
175
184
193
202
211
220
229
238
247
256
265
274
283
292
301

## Comprehensions

In [38]:
brand_names = ["Burger King","Mac Donalds","Arbys","KFC"]

In [40]:
brand_names_2 = []

for brand in brand_names:
    brand_names_2.append(brand)
    
print(brand_names_2)

['Burger King', 'Mac Donalds', 'Arbys', 'KFC']

In [45]:
brand_names_2 = [brand for brand in brand_names]
print(brand_names_2)

['Burger King', 'Mac Donalds', 'Arbys', 'KFC']

In [47]:
len_of_brands = []

for brand in brand_names:
    len_of_brands.append(len(brand))

print(len_of_brands)

[11, 11, 5, 3]

In [48]:
len_of_brands = [len(brand) for brand in brand_names]

print(len_of_brands)

[11, 11, 5, 3]

In [49]:
length_dict = {}

for brand in brand_names:
    length_dict[brand] = len(brand)
    
print(length_dict)

{'Burger King': 11, 'Mac Donalds': 11, 'Arbys': 5, 'KFC': 3}

In [51]:
length_dict_2 = {brand : len(brand) for brand in brand_names}

In [52]:
print(length_dict_2)

{'Burger King': 11, 'Mac Donalds': 11, 'Arbys': 5, 'KFC': 3}

In [66]:
number_tuples = (11,22,33,44,55)

number_tuples_2 = (number for number in number_tuples)

In [68]:
print(number_tuples_2) # It didn't work on tuples

<generator object <genexpr> at 0x000001D3A808AF60>

In [69]:
number_sets = {11,22,33,44,55}

number_sets_2 = {number for number in number_tuples}

print(number_sets_2)

{33, 11, 44, 22, 55}

In [70]:
str1 = "Aa"
str2 = str(char*2 for char in str1)
print(str2) #It didn't work on strings

<generator object <genexpr> at 0x000001D3A83A4380>