In [1]:
# This study file was prepared to study and revise Python based on 
# what I've learnt from Satyajit Patnik, owner of the Data Analytics / Data Science Masters courses.

In [37]:
# Sets are unordered collection of items, storing mixed data
# Items of a set can not be duplicated, they can only contain unique values, sets don't allow duplicates
# Sets are enclosed within curly brackets and elements are written as comma-seperated
# Colors = {'red','green','yellow'}
# Checking if a value is present in a set is very quick and can be done using the in keyword
# set = set({})
# set = set()

In [3]:
list1 = [1,2,3,4,5,6,7,2,2,2,1,5]

In [6]:
set1 = set(list1)
print(set1)
print(type(set1))
print(len(list1))
print(len(set1))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>
12
7

In [7]:
list2 = ['A','B','C','D','E','A','B','C','A','B','C','F']

In [8]:
set2 = set(list2)
print(set2)
print(type(set2))
print(len(list2))
print(len(set2))

{'B', 'F', 'A', 'D', 'C', 'E'}
<class 'set'>
12
6

In [10]:
set3 = set()
print(type(set3))

<class 'set'>

In [11]:
set3 = set({})
print(type(set3))

<class 'set'>

In [12]:
print(set2)

{'B', 'F', 'A', 'D', 'C', 'E'}

In [13]:
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [14]:
1 in set1

True

In [15]:
8 in set1

False

#### Adding and Removing the elements

In [20]:
# .add() and .remove() methods

In [16]:
set_2 = {1,2,3,4,5}

In [17]:
print(len(set_2))

set_2.add('India')

print(set_2)

print(len(set_2))

5
{1, 2, 3, 4, 5, 'India'}
6

In [18]:
set_2

{1, 2, 3, 4, 5, 'India'}

In [19]:
print(len(set_2))

set_2.remove('India')

print(set_2)

print(len(set_2))

6
{1, 2, 3, 4, 5}
5

#### Set Operations

In [21]:
# ( .union() , | ) , ( .intersection() , & ) , (.difference() , - ), ( ^ ---> Symmetric difference )

In [22]:
A = {0,2,4,6,8}
B = {1,2,3,4,5}

In [23]:
print(A | B)
print(A.union(B))
print(len(A.union(B)))

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}
8

In [25]:
print(A & B)
print(A.intersection(B))
print(len(A.intersection(B)))

{2, 4}
{2, 4}
2

In [26]:
print(A-B)
print(A.difference(B))
print(len(A.difference(B)))

{0, 8, 6}
{0, 8, 6}
3

In [27]:
print(A^B)
print(len(A^B)) # ^ = Symmetric difference --> All elements - common elements, 2 and 4 were common in both sets

{0, 1, 3, 5, 6, 8}
6

#### Why do we use sets?

In [ ]:
# In order to find distinct values in a list or something, you can use sets

In [40]:
A = [5,1,3,4,4,5,6,7]
B = [3,3,5,5,1,7,2]

In [43]:
set_A = set(A)
set_B = set(B)
print(set_A)
print(set_B)

{1, 3, 4, 5, 6, 7}
{1, 2, 3, 5, 7}

In [46]:
common_elements = set_A & set_B
print(common_elements)
print(sorted(common_elements))

{1, 3, 5, 7}
[1, 3, 5, 7]

In [47]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.