In [1]:
# This study file was prepared to study and revise Python based on 
# what I've learnt from Satyajit Patnik, owner of the Data Analytics / Data Science Masters courses.

In [2]:
# Tuples are ordered sequence of mixed data types
# Tuples are written in comma seperated elements within parenthesis

In [3]:
t1 = (1,2,3,4)

In [4]:
print(type(t1))
print(len(t1))

<class 'tuple'>
4

In [5]:
t2 = 1,2,3,4

In [7]:
print(type(t2))
print(len(t2))

<class 'tuple'>
4

In [8]:
l1 = [1,2,3,4]

In [9]:
print(type(l1))
print(len(l1))

<class 'list'>
4

In [10]:
t3 = ("hello",5,5.5)

In [11]:
print(type(t3))
print(len(t3))

<class 'tuple'>
3

In [12]:
t4 = ("hello", 5, 5.5, (1,2,3)) #nested tuples

In [13]:
print(type(t4))
print(len(t4))

<class 'tuple'>
4

In [14]:
t5 = ("hello", 5, 5.5, [1,2,3,4,5,6])

In [15]:
print(type(t5))
print(len(t5))

<class 'tuple'>
4

In [16]:
# Indexing and Slicing

In [17]:
t5

('hello', 5, 5.5, [1, 2, 3, 4, 5, 6])

In [18]:
t5[3]

[1, 2, 3, 4, 5, 6]

In [19]:
type(t5[3])

list

In [20]:
var = t5[3]

In [21]:
print(var)
print(type(var))
print(len(var))

[1, 2, 3, 4, 5, 6]
<class 'list'>
6

In [22]:
var[2:4]

[3, 4]

In [23]:
# Tuples can be defined in various ways.

In [28]:
t1 = (1,2,3,4,5)
print(type(t1))
print(len(t1))
print(t1)

<class 'tuple'>
5
(1, 2, 3, 4, 5)

In [29]:
t2 = 1.8,
t3 = 1.8
print(type(t2))
print(type(t3))
print(t2)
print(t3)

<class 'tuple'>
<class 'float'>
(1.8,)
1.8

In [30]:
t4 = 5,
t5 = 5
print(type(t4))
print(type(t5))
print(t4)
print(t5)

<class 'tuple'>
<class 'int'>
(5,)
5

In [31]:
t6 = (2,)
print(type(t6))
print(t6)

<class 'tuple'>
(2,)

In [33]:
t7 = 3
t8 = (4)
print(t7)
print(t8)
print(type(t7))
print(type(t8))

3
4
<class 'int'>
<class 'int'>

In [37]:
t9 = tuple((2,3,4,5))
print(type(t9))
print(t9)

<class 'tuple'>
(2, 3, 4, 5)

In [38]:
# Indexing in Tuple

In [43]:
t1 = ("Mumbai",10,"Python",100,"Delhi",1000)

In [46]:
print(t1[0:2])
print(t1[2:4])
print(t1[4:6])
print(t1[4:])
print(t1[-2:])
print(t1[0:3])
print(t1[3:6])
print(t1[3:])
print(t1[-3:])

('Mumbai', 10)
('Python', 100)
('Delhi', 1000)
('Delhi', 1000)
('Delhi', 1000)
('Mumbai', 10, 'Python')
(100, 'Delhi', 1000)
(100, 'Delhi', 1000)
(100, 'Delhi', 1000)

In [47]:
len(t1)

6

In [48]:
# Concatenation in Tuples (Just like the lists)

In [49]:
tuple1 = ("Welcome", "to" ,"today's")
tuple2 = ("class","on","Python")
tuple3 = tuple1 + tuple2
print(tuple3)

('Welcome', 'to', "today's", 'class', 'on', 'Python')

In [50]:
# Tuple methods

In [51]:
# min, max and sum

In [53]:
t1 = (1,2,3,4,5)

print(min(t1))
print(max(t1))
print(sum(t1))

1
5
15

In [54]:
l1 = [2.3,3,8,5,6,4.7]

In [55]:
print(min(l1))
print(max(l1))
print(sum(l1))

2.3
8
29.0

In [56]:
tuple1 = (1,2,3,4,"hello","world",(1,2,3))

In [57]:
print(tuple1)
print(type(tuple1))
print(len(tuple1))

(1, 2, 3, 4, 'hello', 'world', (1, 2, 3))
<class 'tuple'>
7

In [58]:
tuple1[6][1]

2

In [59]:
tuple1[6][-2]

2

In [61]:
tuple1[-1][1]

2

In [62]:
tuple1[-1][-2]

2

In [63]:
#Immutability

In [64]:
t1 = ("Hello","Yağız")
t1[1]

'Yağız'

In [65]:
t1[1] = "Dağhan"

TypeError: 'tuple' object does not support item assignment

In [66]:
t1 = ("Hello","Welcome",5,10,"world","of","analytics")

In [67]:
# 5 -> to
# 10 -> the

In [68]:
t2 = t1[0:2]
t2

('Hello', 'Welcome')

In [69]:
t3 = t1[-3:]
t3

('world', 'of', 'analytics')

In [70]:
new_tuple = t2 + ("to","the") + t3
new_tuple

('Hello', 'Welcome', 'to', 'the', 'world', 'of', 'analytics')

In [71]:
t4 = ("disco",12,4.5)
print(t4[0][3])
print(t4[0][-2])
print(t4[-3][3])
print(t4[-3][-2])

c
c
c
c

In [72]:
# Sorting in Tuples

In [73]:
t1 = (2,3,1,6,4,9,10,7,12,5)

In [74]:
l1 = sorted(t1)
print(l1)
print(type(l1))
print(len(l1))

[1, 2, 3, 4, 5, 6, 7, 9, 10, 12]
<class 'list'>
10

In [75]:
t2 = tuple(l1)
print(t2)
print(type(t2))
print(len(t2))

(1, 2, 3, 4, 5, 6, 7, 9, 10, 12)
<class 'tuple'>
10

In [76]:
# Question Answers

In [84]:
t1 = ('2')
t11 = ('2',)
t2 = 1,2,
t3 = ((1,2,3),4,5)
#t4 = (Hello,'2','3') Error

In [86]:
print(type(t1))
print(type(t11))
print(type(t2))
print(type(t3))

<class 'str'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>