In [ ]:
# This study file was prepared to study and revise Python based on 
# what I've learnt from Satyajit Patnik, owner of the Data Analytics / Data Science Masters courses.

In [ ]:
# Variable : A temporary storage space where you can keep changing values.
# A python variable is a reserved memory location to store values. In other words, a variable in a python program gives data to
# computer for processing
# to assign values to a variable in Python, we will use the assignment (=) operator
# a = 10 , a = "Welcome to the class"
# No need to declare the datatype of the variables like in other programming languages such as Java, C and so on.

# Keywords : Special reserved words which convey a special meaning to interpreter or compiler
# It can't be used as a variable, it's not recommended since they have special meanings to interpreter or compiler
# Some of the keywords : def,else,if,elif,class,continue,break,finally,from,lambda,except,import,None,return,len,type,in,for,while,do while,True,False,int,float,str,bool,list,input etc.

In [1]:
my_age = 32
my_age

32

In [2]:
print(my_age)

32

In [3]:
type(my_age)

int

In [4]:
1 , 2, 3 --> integer, int
1.2, 2.3, 3.4 --> float
"Hello", "World", "Yağız" --> String, str
True, False --> Boolean, bool

SyntaxError: invalid syntax (3433991624.py, line 1)

In [5]:
my_name = 'Yağız Esmerligil'
print(my_name)

Yağız Esmerligil

In [6]:
type(my_name)

str

In [7]:
score = 89.4
print(score)

89.4

In [8]:
type(score)

float

In [9]:
var = "Hello world, welcome to the class"
type(var)

str

In [10]:
print(var)

Hello world, welcome to the class

In [11]:
var = 10
type(var)

int

In [12]:
print(var)

10

In [13]:
string_var = "Hello world, welcome to the class"
type(string_var)

str

In [14]:
print(string_var)

Hello world, welcome to the class

In [15]:
a = 10.5
print(a)

10.5

In [17]:
print(type(a))

<class 'float'>

In [18]:
a = '10.5'
print(a)

10.5

In [19]:
print(type(a))

<class 'str'>

In [20]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

In [21]:
a = "True"
print(a)
print(type(a))

True
<class 'str'>

In [22]:
bool_var = True
print(bool_var)
print(type(bool_var))

True
<class 'bool'>

In [23]:
bool_var = "True"
print(bool_var)
print(type(bool_var))

True
<class 'str'>

In [24]:
a5 = 10
print(a5)

10

In [25]:
5a = 10
print(5a)
# Your variable name can't start with a number,it should always start with a character.

SyntaxError: invalid decimal literal (2825997164.py, line 1)

In [26]:
# variable names are case sensitive
a = 10
A = 15
print(a)
print(A)

10
15

In [27]:
name = 2
Name = 4
print(name)
print(Name)

2
4

In [28]:
a = 4
b = 5
c = a + b
print(c)
print(type(c))

9
<class 'int'>

In [29]:
a = 14
b = 15
c = a + b
print(c)
print(type(c))

29
<class 'int'>

In [32]:
def sum_function(a,b):
    c = a + b
    print(type(c))
    return c

In [33]:
sum_function(4,5)

<class 'int'>

9

In [34]:
sum_function(14,15)

<class 'int'>

29

In [35]:
1name = 5

SyntaxError: invalid decimal literal (4018362578.py, line 1)

In [38]:
name = "Yağız"
surname = "Esmerligil"
age = 26
country = "Turkey"
salary = 20000.350
list = []
list.append(name)
list.append(surname)
list.append(age)
list.append(country)
list.append(salary)

In [39]:
print(list)
print(type(list))

['Yağız', 'Esmerligil', 26, 'Turkey', 20000.35]
<class 'list'>

In [41]:
for val in list:
    print(val)
    print(type(val))

Yağız
<class 'str'>
Esmerligil
<class 'str'>
26
<class 'int'>
Turkey
<class 'str'>
20000.35
<class 'float'>

In [42]:
len_list = len(list)
print(len_list)

5

In [43]:
type = 10
print(type)
print(type(type))
# This type of usage is not recommended

10

TypeError: 'int' object is not callable